* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: $krFont;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img, svg, button, input, textarea, select, i {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 400;
}

h1 {
  font-size: 29px;
  line-height: 1;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.clearFix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}